#I added
.vscode/*
.Exercícios Extras/teste.exe
.Exercícios Slide1/teste.exe
*.ini
*.rar
*.vscode
*.exe
*.rar
*.png
*.jpg
.png
.jpg


# Prerequisites
.d

# Compiled Object files
.slo
.lo
.o
.obj

# Precompiled Headers
.gch
.pch

# Compiled Dynamic libraries
.so
.dylib
.dll

# Fortran module files
.mod
.smod

# Compiled Static libraries
.lai
.la
.a
.lib

# Executables
.exe
.out
.app